extends ./layouts/common
block content
  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(href="/users", class="nav-item nav-link") User List
    a(href="/list" class="nav-item nav-link") Book List
    a(href="/transactions" class="nav-item nav-link") Transaction List