h1 BOOKS
h3 Add anew book
form(action="/list/add", method="POST")
  label Title: &nbsp;
  input(type="text", name="title")
  span &nbsp;&nbsp
  label Desc: &nbsp;
  input(type="text", name="desc")
  button Add

ol
  each book in books
    li
      span= book.title 
      span &nbsp;
      a(href="/list/edit/" + book.id) Edit 
      span &nbsp;
      a(href="/list/delete/" + book.id) Delete 